doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Axborot xavfsizligi boshqarmasi
  link(rel='stylesheet' href='/css/semantic.min.css' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/agreements_type.css' crossorigin='anonymous')
  script(src="/js/jquery.js") 
  script(src="/js/semantic.min.js") 
  script(src="/js/axios.js")
body
#sidebar.ui.sidebar.inverted.vertical.menu.sidebar-menu
  .item
    .header General
    .menu
      a.item
        div
          i.icon.tachometer.alternate
          | Dashboard
  .item
    .header Foydalanuvchilar
    .menu
      a.item
        div
          i.cogs.icon
          | Ruxsat turlari
      a.item
        div
          i.users.icon
          | Foydalanuvchilar ro'yxati
  .item
    .header Shartnomalar
    .menu
      a.item(href="/agreements-type")
        div
          i.cogs.icon
          | Shartnoma turlari
      a.item(href="/agreements")
        div
          i.users.icon
          | Shartnomalar ro'yxati
  .item
    .header Tashqi ip addresslar
    .menu
      a.item
        div
          i.cogs.icon
          | Shartnoma turlari
      a.item
        div
          i.users.icon
          | Shartnomalar ro'yxati
  a.item
    div
      i.icon.lightbulb
      | Loglar bilan ishlash
  .item
    .header Other
    .menu
      a.item(href='#')
        div
          i.icon.envelope
          |               Messages
      a.item(href='#')
        div
          i.icon.calendar.alternate
          |               Calendar
  .ui.segment.inverted
    .ui.tiny.olive.inverted.progress
      .bar(style='width: 54%')
      .label Monthly Bandwidth
    .ui.tiny.teal.inverted.progress
      .bar(style='width:78%')
      .label Disk Usage

nav.ui.top.fixed.inverted.menu
  .left.menu
    a.sidebar-menu-toggler.item(href='#' data-target='#sidebar')
      i.sidebar.icon
    a.header.item(href='#')
      | Axborot xavfsizligi boshqarmasi
  .right.menu
    a.item(href='#')
      i.bell.icon
    .ui.dropdown.item
      i.user.cirlce.icon
      .menu
        a.item(href='#')
          i.info.circle.icon
          |  Profile
        a.item(href='#')
          i.wrench.icon
          | Settings
        a.item(href='#')
          i.sign-out.icon
          | Logout
.pusher(style="padding-top: 50px;")
    .ui.container(style="padding-bottom: 30px;")
      .ui.inverted.segment
          .ui.inverted.form
              .three.fields
                .field
                  label Firma yoki tashkilot nomi
                  input(type="text", id="organization_name" placeholder="Firma yoki tashkilot nomi")
                .field
                  label Firma yoki tashkilot telfon raqami
                  input(type="text", id="tel_number" placeholder="Firma yoki tashkilot telfon raqami")
                .field
                  label Shartnoma raqami
                  input(type="text", id="contract_number" placeholder="Shartnoma raqami")
              .three.fields
                .field
                  label Shartnoma muddati
                  .ui.inverted.calendar#inverted_calendar
                    .ui.fluid.input.left.icon
                      i.calendar.icon
                      input#contract_date(type="text", placeholder="Shartnoma muddati")
                .field
                  label Shartnoma turi
                  select.ui.dropdown#agreement_type
                    option(value) Shartnoma turi
                .field
                  label Ko’rsatilgan xizmat
                  input(type="text", id="description" placeholder="Ko’rsatilgan xizmat")
              .three.fields
                .field
                  span#file_url
                    b File yuklash
                  label.ui.icon.button(for="file" style="color: #000") Sharnoma fileni qo'shish
                  input#file(type="file", style="display:none")
                .field
                  label Shartnomani qo'shish
                  .ui.button#agreement-add Qo'shish
    .agreements-container
      h1.ui.text(style="text-align: center") Shartnomalar
      table.ui.celled.padded.table
        thead
          tr
            th.single.line Firma yoki tashkilot nomi
            th Firma yoki tashkilot telfon raqami
            th Shartnoma raqami
            th Shartnoma muddati
            th Shartnoma turi
            th Ko’rsatilgan xizmat
            th Biriktirilgan file
            th Izlash/O'chirish
          tr.ui.form
            th.single.line 
              input#organization_name_search(type="text", value=result.search.organization_name, placeholder="Firma yoki tashkilot nomi")
            th
              input#tel_number_search(type="text", value=result.search.tel_number, placeholder="Firma yoki tashkilot telfon raqami")
            th
              input#contract_number_search(type="text", value=result.search.contract_number, placeholder="Shartnoma raqami")
            th 
            th
              select.ui.dropdown#agreement_type_search(value=result.search.agreement_type)
                option(value) Shartnoma turi
            th
              input#description_search(type="text", value=result.search.description, placeholder="Ko’rsatilgan xizmat")
            th 
            th 
              button.ui.button Izlash
        tbody
        each element in result.agreements
          tr
            td= element.organization_name
            td.single.line= element.tel_number
            td.single.line= element.contract_number
            td.single.line= new Date(element.contract_date).toLocaleString()
            td= element.agreement_type.name
            td= element.description
            td
              if(element.agreement_file)
                a(href=element.agreement_file, target="_blank", rel="noopener noreferrer") File
            td
              button.ui.button(data-id=element._id onclick="removeAgreements(event)") O'chirish
        tfoot
          tr
            th(colspan="8")
              .ui.right.floated.pagination.menu
                if(result.page - 1 >= 1)
                  a.icon.item(href=`/agreements/?page=${result.page-1}` style="cursor: pointer")
                    i.left.chevron.icon
                else
                  a.icon.item
                    i.left.chevron.icon
                if(result.page - 1 >= 1)
                  a.item(href=`/agreements/?page=${result.page-1}` style="cursor: pointer")= result.page-1
                a.item= result.page
                if(result.page + 1 <= result.totalPages)
                  a.item(href=`/agreements/?page=${result.page+1}` style="cursor: pointer")= result.page+1
                if(result.page + 1 <= result.totalPages)
                  a.icon.item(href=`/agreements/?page=${result.page+1}` style="cursor: pointer")
                    i.right.chevron.icon
                else
                  a.icon.item
                    i.right.chevron.icon
script(src="/js/main.js")
script(src="/js/agreements.js")
